body {
    background-color: black;
    font-family: "Euclid Square";
}

.header {
    font-size: larger;
    h1 {
    color: #0076BA;
    }
}

.flex-container {
    display: flex; /* Use flexbox */
}

.buffer {
    width: 50px; 
    height: 600px;
}

.photo-container {
    width: clamp(200px, 600px, 600px); 
    height: 600px;
    border: 2px solid #fff; /* Set the white border */
    
}

.bio-container {
    width: 600px; 
    height: 500px;
    /* border: 2px solid #fff; Set the white border */
    p {
        font-size: large;
        color: white;
    }
}
